passwords.txt
*.log
Settings.py
.directory
__pycache__
Lesson3
learn_web/env/
learn_web/forweb/
delete.py
server.py
test.py
test_1.py
weather.py
Lesson2/
learn_web/data_upload.py
learn_web/downloads_info_goods.py
learn_web/webapp.db
learn_web/webapp/
href_info.
learn_web/webapp_fashion/__init__.py
learn_web/webapp_fashion/templates/index.html

       

